spring.datasource.url=jdbc:postgresql://localhost:5432/kidcenter
spring.datasource.username=kidcenteradmin
spring.datasource.password=kidcenteradminpass
logging.level.org.hibernate.SQL=DEBUG
logging.level.org.hibernate.type.descriptor.sql.BasicBinder=TRACE
app.files.storage.path=/opt/kidcenter
app.files.clear.storage.at.shutdown=true
jwt.header=Authorization
jwt.param=auth
jwt.secret=dBwpCbcVRPaYBg3U
pass.salt=rr3HgyD7EUp5ybW8
app.mail.sender.host=smtp.gmail.com
app.mail.sender.port=587
app.mail.sender.username=example@gmail.com
app.mail.sender.password=
app.mail.sender.protocol=smtp
app.mail.sender.from=example@gmail.com
flyway.enabled=false
